body {
	font: 11px Verdana, Arial, Helvetica, sans-serif;
	color: #666666;
	margin: 0px;
	padding: 20px;
    background-color: rgb(169, 212, 223);
}
div {
    margin: auto;
}
.med {
    width: 350px;
}
.wide {
    width: 40%;
}
.col-50 {
    float: left;
    width: 50%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
/* .textfield {
	font-size: 11px;
	color: #333333;
	background: #F7F7F7;
	border: 1px solid #CCCCCC;
	padding-left: 1px;
} */
h1 {
	color: #16858d;
	margin: 0px 0px 5px;
	padding: 0px 0px 3px;
	font: bold 18px Verdana, Arial, Helvetica, sans-serif;
}
h3 {
    margin-top: 30px;
}
a {
	color: #2D3954;
	font-size: 11px;
}
a:hover {
	color: #16858d;
}
.nav {
    padding-bottom: 10px;
    border-bottom: 1px dotted;
}
/* Error messages red and italic */
.err {
    color:#ee0000;
    font-style:italic;
    margin-left: -30px;
}
th, td {
    padding: 3px 10px;
    border: 1px;
}
table {
    /* make the border continuous (without gaps between columns) */
    border-collapse: collapse;
    text-align: left;
    font-size: 0.8rem;
}
.topborder {
    border-top: 1px solid black;
}
.left {
    float: left;
    text-align: left;
}
.right {
    float: right;
}
.center {
    float: center;
    text-align: center;
}
label, input {
    margin-top: 10px;
    margin-right: 10px;
}